<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NetsuiteCarrierIntegrator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="TextODBCConnection" value="Provider=Microsoft.JET.OLEDB.4.0;data source=C:\UPS\defOut.mdb;Extended Properties='text;HDR=No;'" />
    <add key="FedExODBCConnection" value="Provider=Microsoft.JET.OLEDB.4.0;data source=D:\WorldShipFile\System2\FedExOut.mdb;" />
    <add key="ODBCConnection" value="Provider=Microsoft.JET.OLEDB.4.0;data source=D:\WorldShipFile\System2\defOut.mdb;" />
    <add key="FedExODBCConnection1" value="" />
    <add key="FedExODBCConnection2" value="" />
    <add key="FedExODBCConnection3" value="" />
    <add key="FedExODBCConnection4" value="" />
    <add key="FedExODBCConnection5" value="" />
    <add key="FedExODBCConnection6" value="" />
    <add key="FedExODBCConnection7" value="" />
    <add key="FedExODBCConnection8" value="" />
    <add key="FedExODBCConnection9" value="" />
    <add key="FedExODBCConnection10" value="" />
    <add key="UPSODBCConnection1" value="" />
    <add key="UPSODBCConnection2" value="" />
    <add key="UPSODBCConnection6" value="" />
    <add key="UPSODBCConnection3" value="" />
    <add key="UPSODBCConnection4" value="" />
    <add key="UPSODBCConnection5" value="" />
    <add key="UPSODBCConnection7" value="" />
    <add key="UPSODBCConnection8" value="" />
    <add key="UPSODBCConnection9" value="" />
    <add key="UPSODBCConnection10" value="" />
    <add key="OutputFilePath" value="D:\Netsuite\Labels" />
    <add key="GetLabelsPath" value="C:\Netsuite\Labels" />
    <add key="TextFilePath" value="C:\Netsuite\Labels\BartenderTextFile" />
    <add key="FileName" value="worldship.csv" />
    <add key="WorldShipRefreshingInterval" value="" />
    <add key="Netsuite" value="integration" />
    <add key="CarrierName" value="LTL" />
    <add key="OrderFilter" value="TR" />
    <add key="Role" value="3" />
    <add key="UserName" value="narne@netsuite.com" />
    <add key="Password" value="bbIlZd+5XP4Vs1M7ektC3PMmEaqw/WG1cF6lzHqn9Og=" />
    <add key="Account" value="4122023" />
    <add key="InternalId" value="9" />
    <add key="labelprintingInternalId" value="56" />
    <add key="CommedityshipmentInternalId" value="824" />
    <add key="OtherCarrier" value="PUROLATER" />
    <add key="Imagepath" value="D:\NSWMS\GSS.JPG" />
    <add key="opentaskinternalid" value="204" />
    <add key="LpmasterInternalid" value="111" />
    <add key="PackLabelInternalid" value="165" />
    <add key="ExtLabelInternalid" value="69" />
    <add key="SiteID" value="" />
    <add key="SubisdiaryID" value="" />
    <add key="Interval" value="60000" />
    <add key="CommedityShipmentRequired" value="false" />
    <add key="CommedityInternationalShpimentRequired" value="false" />
    <add key="GetNSShipMentData" value="true" />
    <add key="UpdateUPSTrackingNo" value="false" />
    <add key="UpdateFedExTrackingNo" value="false" />
    <add key="HtmlPackReports" value="false" />
    <add key="HtmlPickReports" value="false" />
    <add key="ExtLabelData" value="false" />
    <add key="DynamicExtLabelData" value="false" />
    <add key="BartenderlabelsGeneration" value="false" />
    <add key="ProductionEnvironment" value="false" />
    <add key="SandboxEnvironment" value="true" />
    <add key="ShipthroughWebservices" value="false" />
    <add key="FedExLabelGeneration" value="false" />
    <add key="UPSLabelGeneration" value="false" />
    <add key="USPSLabelGeneration" value="false" />
    <add key="EndiciadomesticLabelGeneration" value="false" />
    <add key="EndiciaInternationalLabelGeneration" value="false" />
    <add key="ZebralabelsGeneration" value="false" />
    <add key="Multipleshipments" value="false" />
    <add key="ReprintShipLabels" value="false" />
    <add key="AllowMultipleInstance" value="false" />
    <add key="Key" value="eby33dbvGvmWo3Td" />
    <add key="FedExPassword" value="Mgw650uWfPKxdT3jPCkZWPwO0" />
    <add key="FedExAccount" value="510087941" />
    <add key="Meter" value="118681693" />
    <add key="HubId" value="5902" />
    <add key="UPSLogin" value="sravandokka" />
    <add key="UPSPassword" value="ABCDdef#123" />
    <add key="UPSAccountID" value="059WY6" />
    <add key="UPSMeter" value="BCB99B5A9FE5AB9A" />
    <add key="EndiciaLogin" value="600986" />
    <add key="EndiciaPassword" value="caminosantafe1" />
    <add key="EndiciaAccountID" value="600986" />
    <add key="PartnerCustomerID" value="12345ABCD" />
    <add key="LabelOutputFormat" value="ZPL" />
    <add key="UPSLabelFormat" value="GIF" />
    <add key="USPSLabelFormat" value="GIF" />
    <add key="KeyField" value="CONTLP" />
    <add key="ZebraPrinter" value="HP LaserJet 9050 PCL6 Class Driver" />
    <add key="LaserPrinter" value="HP LaserJet 9050 PCL6 Class Driver" />
    <add key="PrinterZone" value="" />
    <add key="Proxy" value="" />
    <add key="ProxyUser" value="" />
    <add key="ProxyPswd" value="" />
    <add key="OtherCarrierPath" value="C:\Netsuite\Labels\1" />
    <add key="OtherCarrierODBCConnection" value="Provider=Microsoft.JET.OLEDB.4.0;data source=C:\UPS\defOut.mdb;" />
    <add key="OtherCarrierIntegration" value="false" />
    <add key="OtherCarrierName" value="PUROLATER" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
    </defaultProxy>
  </system.net>
  <applicationSettings>
    <NetsuiteCarrierIntegrator.Properties.Settings>
      <setting name="NetsuiteCarrierIntegrator_FedExShipServiceWebReference_ShipService" serializeAs="String">
        <value>https://wsbeta.fedex.com:443/web-services/ship</value>
      </setting>
      <setting name="NetsuiteCarrierIntegrator_iparcel_XMLSOAP" serializeAs="String">
        <value>http://www.i-parcel.com/soap/xmlsoap.asmx</value>
      </setting>
      <setting name="NetsuiteCarrierIntegrator_ShipWebReference_ShipService" serializeAs="String">
        <value>https://wwwcie.ups.com/webservices/Ship</value>
      </setting>
      <setting name="NetsuiteCarrierIntegrator_com_envmgr_www_EwsLabelService" serializeAs="String">
        <value>https://www.envmgr.com/LabelService/EwsLabelService.asmx</value>
      </setting>
      <setting name="NetsuiteCarrierIntegrator_UPSWebReference_ShipService" serializeAs="String">
        <value>https://wwwcie.ups.com/webservices/Ship</value>
      </setting>
      <setting name="NetsuiteCarrierIntegrator_com_netsuite_webservices_NetSuiteService" serializeAs="String">
        <value>https://4122023.suitetalk.api.sandbox.netsuite.com/services/NetSuitePort_2013_1</value>
      </setting>
    </NetsuiteCarrierIntegrator.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>